

body {
    background-color: #E4E4E4;
}

.gris {
    background-color: #DCDCDC;
}

.latino {
    background-color: #FFFFFF;
    margin-left: 40%;
    width: 300px; 
    padding: 20px; 
    margin-top: 5%;
}

fieldset {
    border: none; 
}

form {
    text-align: center;


}

select,
input[type="number"],
input[type="text"],
input[type="submit"] {
    width: 100%; 
    margin-bottom: 10px; 
}
